:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font: 'Montserrat', sans-serif;
  --cl-white: #fff;
  --cl-black: #000;
  --cl-morning-glory: #90D9E0;
  --cl-electric-blue: #88EBEF;
  --cl-royal-blue: #535BE6;
  --cl-bunker: #222831;
  --cl-rhino: #3A434F;
  --cl-purple-heart: #6C38CC;
}

body {
  font-family: var(--font);
  font-weight: 400;
  width: 100%;
  height: 100vh;
  color: var(--cl-white);
}

#app {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}